<table class="pure-table">
  <thead>
    <tr>
      <th>id</th>
      <th>Título</th>
      <th>Ano</th>
      <th>Formato</th>
      <th>Estrelas</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie.id %>"><%= movie.id %></a></td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.format %></td>
        <td>&#9733; <%= movie.stars %></td>
      </tr>
    <% end %>
  </tbody>
</table>