<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="name">ID:</label>
      <span><%= @movie.id %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Título:</label>
      <span><%= @movie.title %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Ano:</label>
      <span><%= @movie.year %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Audio channels:</label>
      <span><%= @movie.audioChannels %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Audio codec:</label>
      <span><%= @movie.audioCodec %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Número bônus:</label>
      <span><%= @movie.bonusNumber %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Título bônus:</label>
      <span><%= @movie.bonusTitle %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Número do CD:</label>
      <span><%= @movie.cdNumber %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Número total de CDs:</label>
      <span><%= @movie.cdNumberTotal %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Data:</label>
      <span><%= @movie.date %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Edição:</label>
      <span><%= @movie.edition %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Número do filme:</label>
      <span><%= @movie.filmNumber %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Formato:</label>
      <span><%= @movie.format %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Número de indentificação:</label>
      <span><%= @movie.idNumber %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Idioma:</label>
      <span><%= @movie.language %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Outro:</label>
      <span><%= @movie.other %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Release group:</label>
      <span><%= @movie.releaseGroup %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Tamanho da tela:</label>
      <span><%= @movie.screenSize %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Idioma da legenda:</label>
      <span><%= @movie.subtitleLanguage %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Video API:</label>
      <span><%= @movie.videoApi %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Video codec:</label>
      <span><%= @movie.videoCodec %></span>
    </div>
    <div class="pure-control-group">
      <label for="name">Website:</label>
      <span><%= @movie.website %></span>
    </div>
  </fieldset>
</form>

<a href="/movies">&larr; Voltar</a>